/* body{
    background-color: bisque;
} */



.container {
    position: relative;
    width: 970px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container div{
    border-style: solid;
    border-radius: 5px;
    border-color: aqua;
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 50px;
    background-color:black; 
    color: white;
    padding-left: 20px;
    padding-top: 5px;
    padding-right: auto;

    font-family: 'Josefin Sans', sans-serif;
}

.container div a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}


